//colors
$textColor: #040103 
$primaryColor: #bfe5bc 
$secondaryColor: #83c181
$thirdColor: #509051 
$mode: false 

//reconfigure for darkmode
@media (prefers-color-scheme: dark) 
    $primaryColor: darken($primaryColor, 10%)
    $secondaryColor: darken($secondaryColor, 10%)
    $thirdColor: darken($thirdColor, 10%)
    $mode: true