//controller with misc css
@use 'colors' as c
@use 'header'
@use 'footer'

//global color themes depends on small script
:root
    --primary-color: #{c.$primaryColor}
    --secondary-color: #{c.$secondaryColor}
    --third-color: #{c.$thirdColor}
    --text-color: #{c.$textColor}
    --back-color: #{c.$hoverColor}
.dark 
    --primary-color: #{c.$primaryColor-dark}
    --secondary-color: #{c.$secondaryColor-dark}
    --third-color: #{c.$thirdColor-dark}
    --text-color: #{c.$textColor-dark}
    --back-color: #{c.$hoverColor-dark}

@mixin hoverHighlight 
    &:hover 
        background-color: var(--back-color)
        border: solid 1px black

*
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    color: var(--text-color)

h2, button
    font-size: 4vmin
    text-decoration: underline
    padding: 2vmin
    border-radius: 2vmin
    @include hoverHighlight
    margin: 0

@media (prefers-color-scheme: dark) 
    body
        margin: 0